* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.kitty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    transform: translateX(100%);
}

.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#dots {
    position: absolute;
    top: 85%;
    left: 40%;
}
.dot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(142, 33, 218);
    display: inline-block;
    cursor: pointer;
    z-index: 99999999;
}
.current-dot {
    background-color: white;
}
